<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PharmacyConditionClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PharmacyCondition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PharmacyConditionClient.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>@</value>
            </setting>
            <setting name="ComputerName" serializeAs="String">
                <value>Komputer testowy</value>
            </setting>
            <setting name="PrefixEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComputerGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </PharmacyConditionClient.Properties.Settings>
        <PharmacyCondition.Properties.Settings>
            <setting name="ServerIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>@</value>
            </setting>
            <setting name="ComputerName" serializeAs="String">
                <value>Komputer testowy</value>
            </setting>
            <setting name="PrefixEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </PharmacyCondition.Properties.Settings>
    </userSettings>
</configuration>